<footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <hr class="my-4">

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4">
            <h6 class="redText">Contact Us</h6>
					<p class="text-muted"><small>fast.sports@gmail.com</small></p>
					<p class="text-muted"><small>00923452345321</small></p>
          </div>
          <div class="col-md-4">
              <a class="btn btn-outline-danger redText"  role="button">About Us
              </a>
          </div>
          <div class="col-md-4">
            <h6 class="redText">Location</h6>
            <p class="text-muted"><small>i-9/3, Islamabad</small></p>
          </div>
    </div>
    

    <hr class="my-4">


    <!--Copyright-->
    <div class="footer-copyright py-3 redText">
      <small>© 2020 Copyright: </small>
      <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"><small> Hamza Azam, Anees ul Anwar, Bilal</small></a>
    </div>
    <!--/.Copyright-->

</footer>

