<!--HEADER-->

<div class="view" style="background-image: url('./assets/images/back3.jpg'); background-repeat: no-repeat; background-size: cover;">
   
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex align-items-center" style="margin-left: 150px;">
  
      <!-- Content -->
      <div id="boxContent" class="text-center mx-5 fadeIn" [ngStyle]="{marginTop:'250px'}">
            <h1 class="redText" >
                <strong>START TRAINING</strong>
            </h1>
          <p class="md-4 d-none d-md-block redText">
              <strong>Choose Games . Reserve Time . Play Game </strong>
          </p>
  
        <a routerLink="/gamesession" class="btn btn-danger btn-lg" >Go!
        </a>
      </div>
      <!-- Content -->
  
    </div>
    <!-- Mask & flexbox options-->
  
</div>
<!-- Header -->