<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="background: black;">
    <div class="container">
  
      <!-- Brand -->
      <a class="navbar-brand" routerLink="/admin-home">
        <img src="./assets/images/logo.png" style="height: 70px; width: 60px" class="navbar-brand" alt="FAST SPORTS">			
        <strong style="color: rgb(255,51,51);">FAST SPORTS</strong>
      </a>
  
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active ">
            <a class="nav-link" routerLink="/home" style="color: rgb(255,51,51);">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
           -->
        </ul>
  
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a routerLink="/admin-home" style="color: rgb(255,77,77);" class="nav-link btn btn-outline-danger ">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-view" style="color: rgb(255,77,77);" class="nav-link btn btn-outline-danger ">
              View Users
            </a>
          </li>
        </ul>
  
      </div>
  
    </div>
  </nav>



<div class="wrapper" [ngStyle]="{backgroundImage:'url(./assets/images/back14.jpg)', 
backgroundPosition: 'center',
backgroundRepeat: 'no-repeat',
backgroundSize: 'cover'}">

<div style="height: 100px;">

</div>
<div style="text-align: center;font-size: larger;">
    <p>Create Session{{coaches.length}}{{courts.length}}</p>
</div>
<div id="formContent">
    
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

    <input type="text" #SessionID="ngModel" [(ngModel)]="userService.selectedSession.SessionID" name="SessionID" placeholder="SessionID"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !SessionID.valid }">
    <div *ngIf="signUpForm.submitted && !SessionID.valid">
      <label class="validation-message">This field is required.</label>
    </div><br>
    <p> <small>Prefered SessionID: (Email_TodayDate_Time) eg. abc@gmail.com_010620_847</small></p>

    
    <input type="text" #OpponentName="ngModel" [(ngModel)]="userService.selectedSession.OpponentName" name="OpponentName" placeholder="OpponentName"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !OpponentName.valid }">
    <div *ngIf="signUpForm.submitted && !OpponentName.valid">
        <label class="validation-message">This field is required.</label>
    </div><br>

    <label>Game</label>
    <mat-form-field  style="width: 70%;">
        <select [formControl]="gameControl" name="game" class="form-control" style="width: 80%;" >
            <option [value]=""></option>
            <option *ngFor="let game of games" [value]="game">{{game}}</option>
        </select>
    </mat-form-field><br>

    <label>Court</label>
    <mat-form-field style="width: 70%;">
        <select [formControl]="courtControl" name="court" class="form-control" style="width: 80%;">
            <option [value]=""></option>
            <option *ngFor="let crt of courts" [value]="crt.courtName">{{crt.courtName}}</option>
        </select>
    </mat-form-field><br>
    
    <label>Coach</label>
    <mat-form-field  style="width: 70%;">
        <select [formControl]="coachControl" name="cname" class="form-control" style="width: 80%;" >
            <option [value]=""></option>
            <option *ngFor="let coach of coaches" [value]="coach.email">{{coach.email}}</option>
        </select>
    </mat-form-field><br>
    
    <label>Time</label>
    <mat-form-field >
        <input matInput [formControl]="timeControl" type="time" id="timeInput" name="time" [(ngModel)]='time' [value]="time" placeholder="HH:mm:ss" min="12:00:00" max="21:00:00"/>    
    </mat-form-field>
    <br><br>
    <input type="submit" value="Add Session">
</form>

</div>  

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
