<div class="wrapper" [ngStyle]="{backgroundImage:'url(./assets/images/back14.jpg)', 
backgroundPosition: 'center',
backgroundRepeat: 'no-repeat',
backgroundSize: 'cover'}">
    <div class="text-center">
        <img src="assets/images/logo1.png" id="icon" alt="User Icon" />
    </div>
    <div id="formContent">
        <h2 class="underlineHover" routerLink="/login" routerLinkActive="active">Sign In</h2>
        <h2 class="underlineHover" routerLink="/signup" routerLinkActive="active">Sign Up</h2>
        <router-outlet></router-outlet>
    </div>
</div>
